# Jira Integration Configuration
# Copy this file to .env and fill in your actual values
# NEVER commit the .env file!

JIRA_BASE_URL=https://your-domain.atlassian.net/
JIRA_EMAIL=vigneshwaransdet@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0YsG6ukfmlRPnbBNvVDg-rdGP2oK1ORJd64v6_ocA7GIw2hMUZkWUHydHUzv2yWE7hpg8Np-umxRAbxNMBw9tG-w3ps7AGgyWEv6KA_nJPx9_ApybXjgCFHpBdUIVUqh9-Z8-Ig3cUSEIU82yVcIvqTi_0P4yPvS4t-9OxCftV6k=57A86707
